@import "@angular/material/theming";

$backgroundColor: #121829;
$background: #20283e;

// Copy the palettes from your selected theme (usually theme.scss).
$app-purple: mat-palette($mat-deep-purple);
$app-grey: mat-palette($mat-grey);
$app-warn: mat-palette($mat-orange);
$app-green: mat-palette($mat-green);

// Create your Sass color vars (will be available in all the project)
$primary-50: mat-color($app-purple, 50);
$primary-100: mat-color($app-purple, 100);
$primary-200: mat-color($app-purple, 200);
$primary-300: mat-color($app-purple, 300);
$primary-400: mat-color($app-purple, 400);
$primary-500: mat-color($app-purple, 500);
$primary-600: mat-color($app-purple, 600);
$primary-700: mat-color($app-purple, 700);

// Success
$success-50: mat-color($app-green, 50);
$success-100: mat-color($app-green, 100);
$success-200: mat-color($app-green, 200);
$success-300: mat-color($app-green, 300);
$success-400: mat-color($app-green, 400);
$success-500: mat-color($app-green, 500);
$success-600: mat-color($app-green, 600);
$success-700: mat-color($app-green, 700);

$grey-50: mat-color($app-grey, 50);
$grey-100: mat-color($app-grey, 100);
$grey-200: mat-color($app-grey, 200);
$grey-300: mat-color($app-grey, 300);
$grey-400: mat-color($app-grey, 400);
$grey-500: mat-color($app-grey, 500);
$grey-600: mat-color($app-grey, 600);
$grey-700: mat-color($app-grey, 700);
$grey-800: mat-color($app-grey, 800);
$grey-900: mat-color($app-grey, 900);

$warning-50: mat-color($app-warn, 50);
$warning-100: mat-color($app-warn, 100);
$warning-200: mat-color($app-warn, 200);
$warning-300: mat-color($app-warn, 300);
$warning-400: mat-color($app-warn, 400);
$warning-500: mat-color($app-warn, 500);
$warning-600: mat-color($app-warn, 600);
$warning-700: mat-color($app-warn, 700);
