<header class="header">
  <div class="header__container">
    <nav class="header__menu menu">
      <a routerLink="/">
        <mat-icon class="header__logo" svgIcon="logo"></mat-icon>
      </a>
      <button mat-button class="header__button" (click)="toggleSidenav()">
        <mat-icon>{{ isMenuOpen && 'menu_open' || 'menu' }}</mat-icon>
      </button>
      <ul class="menu__list">
        <li class="menu__item" *ngFor="let link of list">
          <a [routerLink]="link | url" class="menu__link">
            {{link}}
            <mat-icon *ngIf="link === EPage.SUGGEST">arrow_forward</mat-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>