<mat-card class="card" *ngIf="movieProps">
  <div class="card__image">
    <a [routerLink]="link">
      <img mat-card-image [src]="movieProps.poster_path" [alt]="movieProps.title">
    </a>
    <app-rating class="card__rating">
      {{movieProps.vote_average}}
    </app-rating>
  </div>
  <mat-card-content class="card__name">
    <span class="card__title">
      {{movieProps.title}}
    </span>
    <ng-container>

      <p *ngIf="isSuggest" (click)="handleClick(movieProps)" [ngClass]="{'suggested': movieProps.suggested}"
        class="card__suggest">
        <mat-icon>{{movieProps.suggested ? 'check_circle' :'thumb_up' }}</mat-icon>
        {{ movieProps.suggested ? 'Already watched' : 'Suggest me' }}
      </p>

      <p *ngIf="isAddToList" (click)="handleClick(movieProps)" [ngClass]="{'suggested': movieProps.suggested}"
        class="card__suggest">
        <mat-icon>{{movieProps.suggested ? 'check_circle' :'add' }}</mat-icon>
        {{ movieProps.suggested ? 'Already watched' : 'Add to my list' }}
      </p>

    </ng-container>
  </mat-card-content>
</mat-card>