<mat-card class="card" *ngIf="movieProps">
  <div class="card__image">
    <a [routerLink]="link">
      <img mat-card-image errorSrc="../../../assets/bgPlaceholder.png" loader="../../../assets/bgPlaceholder.png"
        [src]="movieProps.poster_path" [alt]="movieProps.title">
    </a>
    <app-rating class="card__rating">
      {{movieProps.vote_average}}
    </app-rating>
  </div>
  <mat-card-content class="card__name">
    <span class="card__title">
      {{movieProps.title}}
    </span>
    <ng-container>

      <button *ngIf="isSuggest" [disabled]="movieProps.isManualSuggestion" (click)="handleClick(movieProps)"
        [ngClass]="{'isSuggested': movieProps.isManualSuggestion}" class="card__suggest">
        <mat-icon>{{movieProps.isManualSuggestion ? 'check_circle' :'thumb_up' }}</mat-icon>
        {{ movieProps.isManualSuggestion ? 'Already suggested' : 'Suggest me' }}
      </button>

      <button *ngIf="isAddToList" (click)="handleClick(movieProps)" class="card__suggest">
        <mat-icon> {{movieProps.isAdded ? 'close' : 'add'}}</mat-icon>
        {{ movieProps.isAdded ? 'Remove from list' : 'Add to my list' }}
      </button>

    </ng-container>
  </mat-card-content>
</mat-card>