<section class="home">
  <div class="home__container" *ngIf="movies$ | async as movies">
    <ng-container *ngrxLet="movies | filter:(value$ | async) || '' as filtered">
      <header class="home__header header-home">
        <section class="header-home__about about-home">
          <h1 class="about-home__heading">MaileHereko</h1>
          <p class="about-home__description">List of movies and TV Shows, I, Pramod Poudel have watched till date.<br>
            Explore
            what I have watched and also feel free to make a suggestion. 😉</p>
          <form class="about-home__form" [formGroup]="inputField">
            <app-input [label]="EInputSettings.LABEL" [prefix]="EInputSettings.PREFIX"
              [placeholder]="EInputSettings.PLACEHOLDER" formControlName="value"></app-input>
          </form>
        </section>

        <mat-tab-group (selectedTabChange)="handleTabChange($event)" class="header-home__tabs" animationDuration="0ms">
          <mat-tab *ngFor="let tabLabel of ENavItemsArray" [label]="tabLabel">
            <span>
              {{tabLabel}}
            </span>
            ({{filtered.length}})
          </mat-tab>
        </mat-tab-group>

      </header>
      <app-movie-list [movies]="filtered"></app-movie-list>
      <div class="button__box">
        <app-button class="load-button" (click)="handleClick()">Load More</app-button>
      </div>
    </ng-container>
  </div>
</section>