<section class="home">
  <div class="home__container" *ngIf="movies$ | async as movies">
    <header class="home__header header-home">
      <section class="header-home__about about-home">
        <h1 class="about-home__heading">MaileHereko</h1>
        <p class="about-home__description">List of movies and TV Shows, I, Pramod Poudel have watched till date.<br>
          Explore
          what I have watched and also feel free to make a suggestion. 😉</p>
        <form [formGroup]="inputField">
          <app-input formControlName="value"></app-input>
        </form>
      </section>
      <mat-tab-group *ngIf="movies | filter:(value$ | async) || '' as filtered"
        (selectedTabChange)="handleTabChange($event)" class="header-home__tabs" animationDuration="0ms">
        <mat-tab [label]="ENavItem.ALL">
          <span>
            {{ENavItem.ALL}}
          </span>
          ({{filtered.length}})
        </mat-tab>
        <mat-tab [label]="ENavItem.MOVIES">
          <span>
            {{ENavItem.MOVIES}}
          </span>
          ({{filtered.length}})
        </mat-tab>
        <mat-tab [label]="ENavItem.TV_SHOWS">
          <span>
            {{ENavItem.TV_SHOWS}}
          </span>
          ({{filtered.length}})
        </mat-tab>
      </mat-tab-group>
    </header>
    <ng-container>
      <app-movie-list [movies]="movies | filter:(value$ | async) || '' "></app-movie-list>
    </ng-container>
    <div class="button__box">
      <app-button class="load-button" (click)="handleClick()">Load More</app-button>
    </div>
  </div>
</section>