<section class="sign-up">
  <div class="sign-up__container">

    <form [formGroup]="form" (ngSubmit)="signUp()" class="sign-up__form form-sign-up">
      <h2 class="form-sign-up__heading">Sign Up</h2>
      <fieldset class="form-sign-up__fieldset">
        <app-input formControlName="username" class="form-sign-up__input" [type]="EInputUsername.TYPE"
          [label]="EInputUsername.LABEL" [prefix]="EInputUsername.PREFIX">
        </app-input>
        <app-input formControlName="email" class="form-sign-up__input" [type]="EInputEmail.TYPE"
          [label]="EInputEmail.LABEL" [prefix]="EInputEmail.PREFIX"></app-input>
        <app-input formControlName="password" class="form-sign-up__input" [type]="EInputPassword.TYPE"
          [label]="EInputPassword.LABEL" [prefix]="EInputPassword.PREFIX" [suffix]="EInputPassword.SUFFIX">
        </app-input>
      </fieldset>
      <app-button [disabled]="form.valid" class="form-sign-up__button">Sign Up</app-button>
      <p *ngIf="status$ | async as status" class="form-sign-up__status">
        {{status.message}}
      </p>
    </form>

  </div>
</section>