<ng-container [ngSwitch]="true">
  <mat-form-field color="primary" appearance="outline">
    <mat-label>{{label}}</mat-label>
    <mat-icon *ngIf="prefix" matPrefix>{{prefix}}</mat-icon>
    <input [(ngModel)]="value" autocomplete="false" [errorStateMatcher]="errorStateMatcher" toggle [type]="type"
      [placeholder]="placeholder" matInput>

    <mat-error *ngSwitchCase="control$.value.hasError('required')">Required field</mat-error>
    <mat-error *ngSwitchCase="control$.value.hasError('email')">Invalid email</mat-error>
    <mat-error *ngSwitchCase="control$.value.hasError('maxlength')">Max length -
      {{control$.value.errors?.['maxlength'].requiredLength}}</mat-error>
    <mat-icon *ngIf="suffix" id="suffix" matSuffix>{{suffix}}</mat-icon>
  </mat-form-field>
</ng-container>