<section class="suggest">
  <div class="suggest__container">
    <header class="suggest__header header-suggest">
      <section class="header-suggest__about about-suggest">
        <h1 class="about-suggest__heading">Suggest me</h1>
        <p class="about-suggest__description">I will really appericiate it if you take time to suggest me something good
          <br> to
          watch.
        </p>
        <form [formGroup]="searchInput" (ngSubmit)="handleSubmit()" class="search">
          <app-input formControlName="value"></app-input>
          <app-button action="submit">Search</app-button>
        </form>
      </section>
    </header>
    <ng-container *ngIf="movies$ | async as movies">
      <app-movie-list *ngIf="value" [movies]="movies | filter:value">
      </app-movie-list>
      <div class="about-suggest__looking-for" *ngIf="value && (movies | filter:value)?.length">
        <p>Didn't find the one you looking for?</p>
      </div>
      <div class="about-results" *ngIf="value && !(movies | filter:value)?.length">
        <h2 class="about-results__heading">Sorry, No results found</h2>
        <p class="about-results__description">There are no movies or TV shows matching your search terms. You can
          suggest
          me manually</p>
      </div>
      <div class="button__box" *ngIf="value">
        <app-button class="load-button">Suggest Manually</app-button>
      </div>
    </ng-container>
  </div>
</section>