<section class="suggest">
  <div class="suggest__container">
    <header class="suggest__header header-suggest">
      <section class="header-suggest__about about-suggest">
        <h1 class="about-suggest__heading">Suggest me</h1>
        <p class="about-suggest__description">I will really appericiate it if you take time to suggest me something good
          <br> to
          watch.
        </p>
        <form [formGroup]="searchInput" (ngSubmit)="handleSubmit()" class="search">
          <app-input class="about-suggest__form" [label]="EInputSettings.LABEL"
            [placeholder]="EInputSettings.PLACEHOLDER" [prefix]="EInputSettings.PREFIX" formControlName="value">
          </app-input>
          <app-button action="submit">Search</app-button>
        </form>
      </section>
    </header>
    <ng-container *ngIf="movies$ | async as movies; else loader">

      <section class="movie-list">
        <app-movie *ngFor="let movie of movies | filter:value" [isSuggest]="isSuggest" [movieProps]="movie"></app-movie>
      </section>

      <div class="about-suggest__looking-for" *ngIf="value && (movies | filter:value).length">
        <p>Didn't find the one you looking for?</p>
      </div>
      <div class="about-results" *ngIf="value && !(movies | filter:value).length">
        <h2 class="about-results__heading">Sorry, No results found</h2>
        <p class="about-results__description">There are no movies or TV shows matching your search terms. You can
          suggest
          me manually</p>
      </div>
      <div class="button__box" *ngIf="value">
        <app-button class="load-button">Suggest Manually</app-button>
      </div>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</section>