<section class="add">
  <div class="add__container">
    <header class="add__header header-add">
      <section class="header-add__about about-add">
        <h1 class="about-add__heading">Add new item</h1>

        <form [formGroup]="searchInput" (ngSubmit)="handleSubmit()" class="search">
          <app-input class="about-add__form" [label]="EInputSettings.LABEL" [placeholder]="EInputSettings.PLACEHOLDER"
            [prefix]="EInputSettings.PREFIX" formControlName="value">
          </app-input>
          <app-button action="submit">Search</app-button>
        </form>
      </section>
    </header>
    <section *ngIf="movies$ | async as movies; else loader" class="movie-list">
      <app-movie *ngFor="let movie of movies | filter:value" (addMovie)="handleOnAddMovie($event)" [movieProps]="movie"
        [isAddToList]="isAddToList">
      </app-movie>
    </section>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>

  </div>
</section>